
{% if item %}
    <div class="product mb-6 flex pr-6" id="cart-item-{{ item.product.id }}">
        <a href="{% url 'product' item.product.slug %}" class="w-1/4">
            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}" alt="{{ item.product.name }}">
        </a>

        <div class="w-3/4 pl-6">
            <div class="flex justify-between items-center">
                <a href="{% url 'product' item.product.slug %}" class="text-lg">{{ item.product.name }}</a>
                <span class="text-gray-400">{{ item.total_price }} ৳</span>
            </div>

            <hr class="my-4">

            <div class="quantity mt-6 flex items-center space-x-4">
                <a 
                    class="p-3 bg-gray-100 cursor-pointer hover:bg-gray-200"
                    hx-get="{% url 'cart:update_cart' item.product.id|stringformat:'s' 'decrement' %}" 
                    hx-target="#cart-item-{{ item.product.id }}" 
                    hx-swap="outerHTML"
                >
                    -
                </a>
                <span>{{ item.quantity }}</span>
                <a 
                    class="p-3 bg-gray-100 cursor-pointer hover:bg-gray-200"
                    hx-get="{% url 'cart:update_cart' item.product.id|stringformat:'s' 'increment' %}"
                    hx-target="#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML" 
                >
                    +
                </a>
            </div>
        </div>
    </div>
{% endif %}
